<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre:</h2>
            <p  class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Rerum aliquam laborum minima voluptatum nisi minus aut 
                voluptate! Iste debitis cupiditate quasi mollitia, rem 
                facere dolor inventore nam quaerat recusandae assumenda.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato:</h2>
            <ul>
                <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a><i class="fa-brands fa-instagram"></i></a></li>
                <li><a><i class="fa-brands fa-twitter"></i></a></li>
                <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; 2024 Mati confeitaria
    </section>
</footer>
