<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form action="" class="contact-form" [formGroup]="formContato">
        <input 
        type="text" 
        placeholder="Digite o seu nome"
        formControlName="nome"
        [class.valid] = "formContato.controls['nome'].valid"
        [class.invalid] = "formContato.controls['nome'].invalid && 
        (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)">
        <div
            *ngIf="formContato.controls['nome'].invalid && 
            (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)"
            >
            <small 
                class="error-message"
                *ngIf="formContato.controls['nome'].hasError('minlength')"
            >O nome deve ter mais de 4 carateres</small>
            <small 
                class="error-message"
                *ngIf="formContato.controls['nome'].hasError('required')"
            >Esse campo é obrigatório</small>
        </div>
        <input 
            type="assunto" 
            placeholder="Digite seu assunto"
            formControlName="assunto"
            [class.valid] = "formContato.controls['assunto'].valid"
            [class.invalid] = "formContato.controls['assunto'].invalid && 
            (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)">
        <div
            *ngIf="formContato.controls['assunto'].invalid && 
            (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty)"
            >
            <small 
                class="error-message"
                *ngIf="formContato.controls['assunto'].hasError('minlength')"
            >O assunto deve ter mais de 10 carateres</small>
            <small 
                class="error-message"
                *ngIf="formContato.controls['assunto'].hasError('required')"
            >Esse campo é obrigatório</small>
        </div>
        <input 
            type="tel" 
            placeholder="(00) 0 0000-0000"
            formControlName="telefone"
            [class.valid] = "formContato.controls['telefone'].valid"
            [class.invalid] = "formContato.controls['telefone'].invalid && 
            (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)"
            mask='(00) 0 0000-0000'>
        <div
            *ngIf="formContato.controls['telefone'].invalid && 
            (formContato.controls['telefone'].touched || formContato.controls['telefone'].dirty)"
            >
            <small 
                class="error-message"
                *ngIf="formContato.controls['telefone'].hasError('minlength')"
            >O telefone deve ter mais de 10 números</small>
            <small 
                class="error-message"
                *ngIf="formContato.controls['telefone'].hasError('required')"
            >Esse campo é obrigatório</small>
        </div>
        <input 
            type="email" 
            placeholder="seuendereço@gmail.com"
            formControlName="email"
            [class.valid] = "formContato.controls['email'].valid"
            [class.invalid] = "formContato.controls['email'].invalid && 
            (formContato.controls['email'].touched || formContato.controls['email'].dirty)">
        <div
            *ngIf="formContato.controls['email'].invalid && 
            (formContato.controls['email'].touched || formContato.controls['email'].dirty)"
            >
            <small 
                class="error-message"
                *ngIf="formContato.controls['email'].hasError('minlength')"
            >Deve ser um email válido</small>
            <small 
                class="error-message"
                *ngIf="formContato.controls['email'].hasError('required')"
            >Esse campo é obrigatório</small>
        </div>
        <textarea 
            maxlength="300" 
            placeholder="Digite a sua mensagem..."
            formControlName="mensagem"
            [class.valid] = "formContato.controls['mensagem'].valid"
            [class.invalid] = "formContato.controls['mensagem'].invalid && 
            (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty)"></textarea>
        <div
            *ngIf="formContato.controls['mensagem'].invalid && 
            (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty)"
            >
            <small 
                class="error-message"
                *ngIf="formContato.controls['mensagem'].hasError('minlength')"
            >A mensagem deve ter mais de 10 carateres</small>
            <small 
                class="error-message"
                *ngIf="formContato.controls['mensagem'].hasError('required')"
            >Esse campo é obrigatório</small>
        </div>
        <button>Enviar</button>
    </form>
    <address class="contact__address">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.3119284025775!2d-38.559259399999995!3d-3.7420617999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c749656f4df827%3A0x2407360171b113fd!2sR.%20Ab%C3%ADlio%20Martins%2C%20715%20-%20Amadeu%20Furtado%2C%20Fortaleza%20-%20CE%2C%2060455-472!5e0!3m2!1spt-BR!2sbr!4v1707970268173!5m2!1spt-BR!2sbr" width="400" height="350" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="">R. Abílio Martins, 715 - Amadeu FurtadoFortaleza - CE, 60455-472</p>
    </address>
</section>